@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700;800&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.font-poppins-200 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
  }
.font-poppins-400 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  
  .font-poppins-500 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
  }
  
  .font-roboto-300 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  .font-roboto-500 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }
  .font-outfit-800 {
    font-family: 'Outfit', sans-serif;
    font-weight: 900;
  }
  .font-noto-200{
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 200;
}

.font-noto-300{
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 300;
}

.font-noto-400{
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 400;
}

.font-noto-500{
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 500;
}
.font-noto-600{
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 600;
}
.font-noto-700{
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 700;
}
  .font-barlow-200{
    font-family: 'Barlow', sans-serif;
    font-weight: 200;
}

.font-barlow-300{
  font-family: 'Barlow', sans-serif;
    font-weight: 300;
}

.font-barlow-400{
  font-family: 'Barlow', sans-serif;
    font-weight: 400;
}

.font-barlow-500{
  font-family: 'Barlow', sans-serif;
    font-weight: 500;
}
.font-barlow-600{
  font-family: 'Barlow', sans-serif;
    font-weight: 600;
}
.font-barlow-700{
  font-family: 'Barlow', sans-serif;
    font-weight: 700;
}